<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>litecart</title>
  <script src="/assets/js/vue.js"></script>
  <script src="/assets/js/main.js" type="module"></script>
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/main.css" rel="stylesheet">
</head>

<body>
  {# embed #}

  <footer class="bg-white">
    <div class="mx-auto max-w-screen-xl px-4 pb-8 sm:px-6 lg:px-8">
      <div class="border-t border-gray-100 pt-8 sm:flex sm:items-center sm:justify-between">
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/shurco/litecart"
          class="flex text-gray-500 flex-wrap justify-center gap-4 text-xs lg:justify-end">Powered by litecart</a>
      </div>
    </div>
  </footer>
</body>

</html>