<div>
  <section>
    <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8" v-if="load">
        <div class="relative h-[350px] sm:h-[450px]">
          <img :src="(product.images ? `/uploads/${product.images[0].name}_md.${product.images[0].ext}` : '/assets/img/noimage.png')" alt=""
            class="rounded-lg absolute inset-0 h-full w-full object-cover opacity-100 group-hover:opacity-0" />
          <img :src="(product.images ? `/uploads/${product.images[0].name}_md.${product.images[0].ext}` : '/assets/img/noimage.png')" alt=""
            class="rounded-lg absolute inset-0 h-full w-full object-cover opacity-0 group-hover:opacity-100" />
        </div>
        <div class="lg:col-span-2">
          <h1 class="text-xl font-bold text-gray-900 sm:text-3xl">{{product.name}}</h1>
          <p class="mt-4">{{product.description}}</p>
            <ul class="mt-4 list-disc pl-4">
              <li v-for="(item, index) in product.attributes">{{item}}</li>
            </ul>
          <p class="mt-4 text-2xl font-black">{{ costFormat( product.amount ) }} {{ currency }}</p>
          <form-button type="submit" name="Add" color="green" ico="plus" class="mt-4" @click="addCart(product.id)" v-if="!product.inCart"></form-button>
          <form-button type="submit" name="Remove" color="red" ico="trash" class="mt-4" @click="removeCart(product.id)" v-else></form-button>
        </div>
      </div>
    </div>
  </section>
</div>

<script type="module">
  /*
  import { costFormat } from '/assets/js/utils.js';
  import FormButton from '/assets/js/form/button.js';

  Vue.createApp({
    components: {
      FormButton,
    },

    data() {
      return {
        load: false,
        currency: ref(),
        product: ref({}),
      };
    },

    mounted() {
      this.getProduct('{#.ProductSlug#}');
    },

    methods: {
      add() {
        if (!this.inCart(this.product.id)) {
          this.product.inCart = true

          const image = this.product.images ? {
            name: this.product.images[0].name,
            ext: this.product.images[0].ext
          } : null;

          window.dispatchEvent(new CustomEvent("addProduct", {
            detail: {
              id: this.product.id,
              name: this.product.name,
              slug: this.product.slug,
              amount: this.product.amount,
              image: image,
            },
          }));
        }
      },

      remove() {
        const cart = JSON.parse(localStorage.getItem('cart'))
        if (cart.find(x => x.id === this.product.id)) {
          this.product.inCart = false
          const indexCart = cart.findIndex(item => item.id === this.product.id);
          cart.splice(indexCart, 1);
          localStorage.setItem("cart", JSON.stringify(cart));
          window.dispatchEvent(new CustomEvent("delProduct"));
        }
      },

      async getProduct(slug) {
        const response = await fetch(`/api/products/${slug}`, {
          credentials: "include",
          method: 'GET',
        });
        this.resp = await response.json();
        if (this.resp.success) {
          this.currency = sessionStorage.getItem('currency');
          this.product = this.resp.result;
          this.product.inCart = this.inCart(this.product.id);
          this.load = true;

          if (this.product.seo.title){
            document.title = this.product.seo.title;
            document.querySelector('meta[name="title"]').setAttribute("content", this.product.seo.title);
          }
          if (this.product.seo.keywords){
            document.querySelector('meta[name="keywords"]').setAttribute("content", this.product.seo.keywords);
          }
          if (this.product.seo.description){
            document.querySelector('meta[name="description"]').setAttribute("content", this.product.seo.description);
            document.querySelector('meta[property="og:description"]').setAttribute("content", this.product.seo.description);
          }
        }
      },

      inCart(id) {
        if (localStorage.getItem('cart')) {
          const cart = JSON.parse(localStorage.getItem('cart'))
          let obj = cart.find(o => o.id === id);
          if (obj) {
            return true
          }
          return false
        }
      },

      amount(cost) {
        return costFormat(cost);
      },
    },
  }).mount("#product");
  */
</script>