<dl class="-my-3 divide-y divide-gray-100 text-sm">
  <v-form @submit="onSubmit" v-slot="{ errors }" class="mx-auto mb-0 mt-8 space-y-4">
    <form-input v-model="product.info.name" id="name" type="text" name="Name" ico="at-symbol"></form-input>

    <div class="flex flex-row">
      <div class="pr-3"><form-input v-model="product.info.price.amount" id="amount" type="text" name="Amount" ico="money"></form-input></div>
      <div><form-select v-model="product.info.price.currency" id="currency" name="Currency" :options="['EUR','USD']"></form-select></div>
    </div>
    <form-input v-model="product.info.url" id="url" type="text" name="Url" ico="at-symbol"></form-input>

    <hr />
    <div class="flex flex-row" v-for="(value, key, index) in product.info.metadata">
      <div class="pr-3"><form-input v-model="value" :id="`mtd-value-${index}`" type="text" :name="`Metadata Value-${index}`" ico="money"></form-input></div>
      <div><form-input v-model="key" :id="`mtd-key-${index}`" type="text" :name="`Metadata Key-${index}`" ico="money"></form-input></div>
    </div>

    <hr />
    <div v-for="(value, index) in product.info.attributes">
      <form-input v-model="value" :id="`atr-key-${index}`" type="text" :name="`Attribute-${index}`" ico="money"></form-input>
    </div>

    <hr />
    images


    <hr />
    <form-textarea v-model="product.info.description" id="textarea" name="textarea" /></form-textarea>

  </v-form>
</dl>