<div id="app">
  <div class="grid grid-cols-1 gap-4 pb-4 lg:grid-cols-[1fr_120px] lg:gap-8">
    <div>
      <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Checkouts</h1>
    </div>
  </div>

  <div class="mx-auto" v-if="checkouts.length>0">
    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
      <thead class="text-left">
        <tr>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Email</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Name</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Price</th>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Status</th>
          <th class="whitespace-nowrap w-32 px-4 py-2 font-medium text-gray-900">Created</th>
          <th class="whitespace-nowrap w-32 px-4 py-2 font-medium text-gray-900">Updated</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <tr class="hover:bg-gray-100 active:bg-gray-100 cursor-pointer" v-for="item, index in checkouts">
          <td class="whitespace-nowrap px-4 py-2">{{item.email}}</td>
          <td class="whitespace-nowrap px-4 py-2">{{item.name}}</td>
          <td class="whitespace-nowrap px-4 py-2">{{ costFormat( item.amount_total ) }} {{ item.currency }}</td>
          <td class="whitespace-nowrap px-4 py-2">{{item.payment_status}}</td>
          <td class="whitespace-nowrap px-4 py-2">{{ formatDate(item.created) }}</td>
          <td class="whitespace-nowrap px-4 py-2">{{ formatDate(item.updated) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mx-auto" v-else>Not found checkouts</div>
</div>

<script type="module">
  Vue.createApp({
    data() {
      return {
        checkouts: ref([]),
      };
    },

    mounted() {
      this.listCheckouts();
    },

    methods: {
      async listCheckouts() {
        const response = await fetch(`/api/_/checkouts`, {
          credentials: "include",
          method: 'GET',
        });
        this.resp = await response.json();
        if (this.resp.success) {
          this.checkouts = this.resp.result;
        }
      },

      costFormat(cost) {
        return (Number(cost) ? (Number(cost) / 100).toFixed(2) : "0.00");
      },

      formatDate(timestamp) {
        const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        const date = new Date(timestamp * 1000);
        return `${date.getDate()} ${monthNames[date.getMonth()]} ${date.getFullYear()}, ${date.toLocaleTimeString()}`;
      }
    },
  }).mount("#app");
</script>