version: '3'
services:
  litecart:
    image: shurco/litecart:latest
    container_name: litecart
    restart: always
    volumes:
      - ./lc_base:/lc_base
      - ./lc_digitals:/lc_digitals
      - ./lc_uploads:/lc_uploads
      - ./site:/site

  nginx:
    image: nginx:alpine
    restart: always
    ports:
      - 80:80
    volumes:
      - "./nginx/nginx.conf:/etc/nginx/conf.d/default.conf"
