<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>🛒 litecart</title>
  <script src="/_/assets/js/vue.js?v=3.3.4"></script>
  <script src="/_/assets/js/vee-validate/main.js?v=4.10.7"></script>
  <script src="/_/assets/js/vee-validate/rules.js?v=4.10.7"></script>
  <script src="/_/assets/js/notification.js?v=3.1.1"></script>
  <script src="/_/assets/js/main.js" type="module"></script>
  <link href="/_/assets/css/notification.css?v=3.1.1" rel="stylesheet">
  <link href="/_/assets/css/style.css" rel="stylesheet">
  <link href="/_/assets/css/main.css" rel="stylesheet">
  <script>
    const { onMounted, onUpdated, onUnmounted, ref, getCurrentInstance, components } = Vue;
    const { defineRule, Form, Field } = VeeValidate;
    const { required, email, min } = VeeValidateRules;

    defineRule('required', required);
    defineRule('email', email);
    defineRule('min', min);
  </script>
</head>

<body>
  {# embed #}
</body>

</html>