<div id="app">
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg text-center">
      <h1 class="text-2xl font-bold sm:text-3xl">This is the first run! 🎉</h1>
      <p class="mt-4 text-gray-500">To get started - fill in the following fields</p>
    </div>

    <v-form @submit="onSubmit" v-slot="{ errors }" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
      <form-input v-model="state.email" :error="errors.email" id="email" type="email" rules="required|email" name="Email" ico="email"></form-input>
      <form-input v-model="state.password" :error="errors.password" id="password" type="password" rules="required|min:6" name="Password" ico="password"></form-input>
      <hr />
      <form-input v-model="state.domain" :error="errors.domain" id="domain" type="text" rules="required" name="Domain" ico="domain"></form-input>
      <form-input v-model="state.stripe_secret" :error="errors.stripe_secret" id="stripe_secret" type="text" rules="required|min:100" name="Stripe secret key" ico="key"></form-input>

      <form-button type="submit" name="Create my cart" color="green" ico="row" />
    </v-form>
  </div>
</div>

<script type="module">
  import FormInput from './components/form/input.js';
  import FormButton from './components/form/button.js';
  
  Vue.createApp({
    components: {
      FormInput,
      FormButton,
      VForm: Form,
      VField: Field,
    },

    data() {
      return {
        resp: ref(null),
        state: ref({
          email: '',
          password: '',
          domain: '',
          stripe_secret: '',
        }),
      };
    },

    methods: {
      async onSubmit() {
        const response = await fetch('/api/install', {
          method: 'POST',
          body: JSON.stringify(this.state),
          headers: {
            'Content-Type': 'application/json'
          },
        });

        this.resp = await response.json();

        if (this.resp.success) {
          window.location.href = "/_/signin";
        }
      },
    },
  }).mount("#app");
</script>