<div id="app">
  <div class="grid grid-cols-1 gap-4 pb-4 lg:grid-cols-[1fr_120px] lg:gap-8">
    <div>
      <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">Products</h1>
    </div>
    <div>
      <form-button type="submit" name="Add" color="green" ico="row" @click="productAdd" />
    </div>
  </div>


  {# if .Products #}
  <div class="mx-auto">
    <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
      <thead class="text-left ">
        <tr>
          <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Name</th>
          <th class="whitespace-nowrap w-32 px-4 py-2 font-medium text-gray-900">URL</th>
          <th class="whitespace-nowrap w-32 px-4 py-2 font-medium text-gray-900">Price</th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
        {# range .Products #}
        <tr class="hover:bg-gray-100 active:bg-gray-100 cursor-pointer" @click="openDrawer('{# .ID #}', '{# .Name #}')">
          <td class="whitespace-nowrap px-4 py-2 text-gray-900">{# .Name #}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">{# .URL #}</td>
          <td class="whitespace-nowrap px-4 py-2 text-gray-700">{{ costFormat({# .Price.Amount #} ) }} {#.Price.Currency#}</td>
        </tr>
        {# end #}
      </tbody>
    </table>
  </div>
  {# else #}
  <div class="mx-auto">Add first product</div>
  {# end #}

  <drawer :is-open="isDrawerOpen" max-width="700px" @close="closeDrawer" :title="productName">
    
    <div class="flow-root">
      <dl class="-my-3 divide-y divide-gray-100 text-sm">
        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">ID</dt>
          <dd class="text-gray-700 sm:col-span-2">{{ productInfo.id }}</dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">Name</dt>
          <dd class="text-gray-700 sm:col-span-2">{{ productInfo.name }}</dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">Price</dt>
          <dd class="text-gray-700 sm:col-span-2">
            {{ productPrice }}
            {{ price }}
          </dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">URL</dt>
          <dd class="text-gray-700 sm:col-span-2">{{ productInfo.url }}</dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">Metadata</dt>
          <dd class="text-gray-700 sm:col-span-2">
            <div v-for="(value, key) in productInfo.metadata">
              {{key}}: {{value}}
            </div>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">Attributes</dt>
          <dd class="text-gray-700 sm:col-span-2">
            <div v-for="item in productInfo.attributes">
              {{item}}
            </div>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">Created</dt>
          <dd class="text-gray-700 sm:col-span-2">{{ productInfo.created }}</dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">Updated</dt>
          <dd class="text-gray-700 sm:col-span-2">{{ productInfo.updates }}</dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">Images</dt>
          <dd class="text-gray-700 sm:col-span-2">
            <div v-for="item in productInfo.images">
              <img style="width:100%; max-width:150px;" :src="`/uploads/${item}`">
            </div>
          </dd>
        </div>

        <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
          <dt class="font-medium text-gray-900">description</dt>
          <dd class="text-gray-700 sm:col-span-2">{{ productInfo.description }}</dd>
        </div>
      </dl>
    </div>
  </drawer>
</div>

<script type="module">
  import FormButton from './components/form/button.js';
  import Drawer from './components/drawer.js';

  Vue.createApp({
    components: {
      FormButton,
      Drawer,
    },

    data() {
      return {
        isDrawerOpen: ref(false),
        productName: ref(null),
        productInfo: ref({}),
        productPrice: ref(null)
      };
    },

    methods: {
      async getProduct(id) {
        const response = await fetch(`/api/products/${id}`, {
          credentials: "include",
          method: 'GET',
          headers: {
            Accept: 'application/json',
            'Content-Type': 'application/json'
          },
        });
        this.resp = await response.json();
        if (this.resp.success) {
          this.productInfo = this.resp.result;
          this.productPrice = `${this.costFormat(this.resp.result.price.amount)} ${this.resp.result.price.currency}`;
        }
      },

      openDrawer(id, name) {
        this.productName = name;
        this.isDrawerOpen = true;
        this.getProduct(id);
      },

      closeDrawer() {
        this.productName = null;
        this.isDrawerOpen = false;
        this.productInfo = {};
        this.productPrice = null;
      },

      productAdd() {
        window.location.href = "/_/products/add";
      },

      costFormat(cost) {
        return (cost ? (cost / 100).toFixed(2) : "0");
      },
    },

  }).mount("#app");
</script>