[v-cloak] {
  display: none;
}

body {
  @apply bg-zinc-50 text-sm;
}

h1 {
  @apply text-2xl font-bold text-gray-900 sm:text-3xl;
}

h2 {
  @apply text-xl font-bold text-gray-900 sm:text-2xl;
}

h3 {
  @apply text-xl font-bold text-gray-900;
}

img {
  @apply rounded-lg;
}

header {
  @apply relative grid grid-cols-[1fr_120px] gap-8 pb-4;
}

header div {
  @apply absolute right-0;
}

.content-center {
  @apply mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8;
}

.content-center .header {
  @apply mx-auto max-w-lg text-center;
}

.content-center .header p {
  @apply mt-4 text-gray-500;
}

.error {
  @apply pl-4 text-sm text-red-500;
}

label {
  @apply relative block rounded border border-gray-300 bg-white pe-10 text-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600;
}

label.none {
  @apply border-none bg-transparent shadow-none;
}

label .field {
  @apply w-full border-none bg-transparent placeholder-transparent focus:border-transparent focus:ring-0 focus:outline-none;
}

label .title {
  @apply pointer-events-none absolute start-2.5 top-0 -translate-y-1/2 bg-white px-1 text-xs text-gray-700 transition-all;
}

label .ico {
  @apply absolute inset-y-0 end-0 grid place-content-center pr-2 pl-4;
}

.editor {
  @apply rounded bg-gray-200 px-2 pt-2 pb-0.5;
}

.editor button {
  @apply mr-1 hover:bg-white hover:text-gray-700;
}

.editor button svg {
  @apply m-1.5 h-5 w-5;
}

hr {
  @apply my-6 border-0 border-t border-gray-200;
}

/* Base styles for input elements (except those in label .field) */
input:not([type='hidden']):not([type='submit']):not([type='button']):not([type='reset']):not([type='checkbox']):not(
    [type='radio']
  ):not(.field),
textarea:not(.field),
select:not(.field) {
  @apply appearance-none rounded-md border border-gray-300 bg-white px-3 py-2 text-sm text-gray-900 placeholder-gray-400 focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none;
}
